## Permissions ##
add_ace group.admin command allow # allow all commands

add_ace group.admin "pac_bypass" allow
add_ace group.staff "pac_bypass" allow

add_ace identifier.license:XXXXXXXXXXXX "pac_permission_everything" allow

add_principal resource.sandbox-base group.admin
